body {
  background-image: repeating-linear-gradient(
      -45deg,
      #e1f8ff 0px,
      #e1f8ff 20px,

      #d7f4ff 20px,
      #d7f4ff 40px
    );
}
  .grid-container {  
    background-color: #ffffff;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    gap: 30px 30px;
    grid-auto-flow: row;
    grid-template-areas:
      "box-one box-two box-three"
      "box-four . ."
      ". . .";
    margin: 0.5in;
    margin-top: 30px;
    padding: 30px;

    height: 900px;
  }
  
  .box-one { grid-area: box-one; }
  .box-two { grid-area: box-two; }
  .box-three { grid-area: box-three; }
  .box-four { grid-area: box-four; }
  
  div {
    display: center;
    align-items: left;
    background: transparent;
    border-radius: 5px;
  }

  span {
    font-family: DM Sans Medium;
    color:#282d77;
    transition-duration: 0.2s;
  }

  span:hover {
    color:#6067c4;
  }
  
  h1, h2, h3{
    font-family: DM Sans Medium;
    color: #282d77;
    text-shadow: 1.5px 1.5px #e6733e;
  }


  h4 {
    font-family: DM Sans Medium;
    color: white;
    text-shadow: 1.5px 1.5px #f1a07b;
    padding: 0px;
    background-color: #666cbe;
    width: 100%;
    text-align: center;
    border-radius: 10px;
  }

  h5 {
    font-family: DM Sans Medium;
    color: #282d77;
    text-shadow: 3px 3px #f1a07b;
  }

  h6 {
    font-family: DM Sans;
    color: #282d77;
    font-size: 60%;
    width: 100%;
  }

  li,ul {
    font-family: DM Sans Medium;
    color: #282d77;
    text-align: left;
    font-size: 72%;
    line-height: 1.6;
    /*transform: translateX(65px);*/
  }

  p {
    font-family: DM Sans Medium;
    color: #282d77;
    text-align: left;
    font-size: 65%;
    padding-left: 20px;
    margin-bottom: -20px;
    /*transform: translateX(65px);*/
  }

  a {
    color: #282d77;
    padding: 20px;
  }

  input[type=text], textarea {

      width: 90%;
      padding: 100px 20px;
      margin: px 0;
      box-sizing: border-box;
      border: rgb(255, 255, 255);
      background-color: #f3fcff;
      border-radius: 10px;
      transition-duration: 0.4s;
      font-family: DM Sans Medium;
  }

  input[type=text]:focus {
    background-color: #ccedf8;
    border: 0cm;
    border-color: white;
    font-family: DM Sans Medium;
  }


textarea:focus {
  background-color: #c3e2ec;
  border: 0cm;
  border-color: white;
  font-family: DM Sans Medium;
}

  img{
    border-radius: 10px;
    height: 100%;
    width: auto;
  }
  
  .box-one {
    background-color: #e1f8ff;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    box-shadow: 8px 8px #d2ebf1;
  }
  
  .box-two {
    background-color: #e1f8ff;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    box-shadow: 8px 8px #d2ebf1;
    width:80%;
    
  }
  
  .box-three {
    background-color: #e1f8ff;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    box-shadow: 8px 8px #d2ebf1;
    width: 100%;
    transform: translateX(-50px);
  }
  
  .box-four {
    background-color: #e1f8ff;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 50%;
    box-shadow: 8px 8px #d2ebf1;
  }
  
  .box-five {
    background-color: #e1f8ff;
    padding: 0px;
    font-size: 30px;
    text-align: center;
    height: 55%;
    width: 100%;
    box-shadow: 8px 8px #d2ebf1;
  }

  .box-six {
    color: black;
    background-color: #e1f8ff;
    padding: 0px;
    font-size: 30px;
    text-align: center;
    height: 55%;
    box-shadow: 8px 8px #d2ebf1;
  }